
body {
  background-image: linear-gradient(grey, black, black, black);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0 auto;
  font-family: monospace;
}

nav {
  transform: translateX(100vw);
}

nav.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 3em;
  background-color: black;
  padding-left: 0.25em;
  transform: translateX(0vw);
  transition: 0.5s;
}

nav a {
  text-decoration: none;
  color: orange;
  font-size: 0.75em;
  padding: 0.25em;
  border-left: 3px solid white;
  transition: 0.3s;
}

nav a:hover {
  border-style: none;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  transition: 0.3s;
  font-size: 0.85em;
}

#menuToggler{
  top: 0;
  right: 0;
  z-index: 1;
  color: white;
  font-size: 3em;
  font-stretch: expanded;
  background-color: black;
  border-bottom: 3px solid white;
}

.nameTitle {
  text-align: center;
  font-size: 8em;
  font-weight: bolder;
  font
}

.subTitle{
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}

.bodyText{
  text-align: center;
  font-size: 2em;
  padding-left: 0.25em
  padding-right: 0.25em
}
