
body {
  background-image: linear-gradient(grey, black, black, black);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0 auto;
  font-family: monospace;
  overflow-x: hidden;
}

nav {
  transform: translateX(100vw);
  visibility: hidden;
}

nav.open {
  visibility: visible;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 3em;
  background-color: black;
  padding-top: 0.25em;
  padding-left: 0.25em;
  transform: translateX(0vw);
  transition: 0.3s;
}

nav a {
  text-decoration: none;
  color: orange;
  font-size: 0.75em;
  padding: 0.25em;
  border-left: 3px solid white;
  transition: 0.3s;
}

nav a:hover {
  border-style: none;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  transition: 0.3s;
  font-size: 0.85em;
}

#menuToggler{
  top: 0;
  right: 0;
  z-index: 1;
  color: white;
  font-size: 5em;
  font-stretch: expanded;
  background-color: black;
  padding-left: 0.1em;
  border-bottom: 3px solid white;
}

.textContainer {
  background-color:#222222;
  display: grid;
  padding-left: 3em;
  padding-right: 3em;
  grid-column-start: 1;
  grid-column-end: 6;
}

.grid-item{
  grid-column-start: 1;
  grid-column-end: 6;
}

.gitButton {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: orange;
  font-size: 2em;
  text-align: center;
}

.gitButton a{
  text-decoration: none;
  color: black;
}

.nameTitle {
  text-align: center;
  font-size: 8em;
  font-weight: bolder;
  font
}

.subTitle{
  text-align: center;
  font-size: 4em;
  font-weight: bold;
}

.bodyText{
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5em;
  padding-right: 0.25em
}
